
<!--=======================================================================|
| Red Path                                                                 |
|==========================================================================|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los autores de los posts.           |
|========================================================================-->

<!--=======================================================================|
| Green Path                                                               |
|==========================================================================|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los posts.                          |
|========================================================================-->

<app-post-preview *ngFor="let post of posts" [post]="post" 
(pulsacionEnAutor)="getPostsByAuthor($event)"
(pulsacionEnResumen)="getPost($event)"> <!-- [routerLink]="['/posts', 2]"> -->
</app-post-preview> 
<!-- (pulsacionEnResumen)=[routerLink]="['posts', 2]"> -->

<!-- [post]="pulsacionEnResumen($event)"  -->
  <!-- <div class="post" (click)="verDetalle">  @Output() pulsacionEnResumen = new EventEmitter<Post>(); -->


<!-- El valor de un atributo en html5 DEBE ser una cadena -->